
Herba-Automata/Herba-Automata.PrjPcb
Herba-Automata/Herba-Automata.SchDoc
Herba-Automata/History/Herba-Automata.~(1).PrjPcb.Zip
Herba-Automata/History/Herba-Automata.~(1).SCHLIB.Zip
Herba-Automata/History/Herba-Automata.~(1).SchDoc.Zip
Herba-Automata/Herba-Automata.SCHLIB
Herba-Automata/__Previews/Herba-Automata.SchDocPreview
Herba-Automata/History/Herba-Automata.~(11).SchDoc.Zip
*.Zip
Herba-Automata/herba-automata.PcbLib
*.LOG
*.PrjPcbStructure
*.PcbDoc
*.APR_LIB
*.apr
*.REP
*.html
*.RUL
Herba-Automata/Project Outputs for Herba-Automata/Net Status - Herba-Automata.txt
Herba-Automata/Project Outputs for Herba-Automata/Status Report.Txt
Herba-Automata_proto_board.gcode
*.EXTREP
*.PcbDocPreview
*.drc
*.OutJob
Herba-Automata.PrjPcb
*.NET
